::selection {
	color: white;
	background-color: turquoise;
}
sub::selection {
	color: #30bfb1;
}
html {
	font-family: 'Roboto', sans-serif;
	background-color: #111b1d;
	color: white;
}
h1{font-size:3rem;}h2{font-size:2.2rem;}h3{font-size:1.8rem;}a:any-link,a:active{text-decoration:none;color:inherit;}
body {
	width: 1100px;
	max-width: 100%;
	margin: 0 auto;
	padding: 1rem;
	box-sizing: border-box;
}
header {
	margin: 3rem 0;
}
nav {
	display: flex;
	justify-content: space-between;
}
main {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-gap: 1rem;
}
sub {
	color: #212b2d;
}
button {
	color: inherit;
	font: inherit;
	border: none;
}
button[disabled], button[disabled]:hover {
	background-color: grey;
	color: #111b1d;
}
.col-12, .col-6, .col-4 {
	grid-column: span 12;
}
.block {
	background-color: #212b2d;
	border-radius: 12px;
	padding: 1.5rem 1.2rem 1.8rem;
}
.block > :first-child {
	margin-top: 0;
}
.block > :last-child {
	margin-bottom: 0;
}
.button a {
	display: inline-block;
}
.button-primair {
	background-color: turquoise;
	padding: 10px 15px;
	border-radius: 8px;
	box-sizing: border-box;
	transition: background-color .2s;
}
.button-primair:hover {
	background-color: #006f70;
}

/* ===== Level pages ===== */
.lvl1 {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-areas:
		". . . . ."
		"pos-one pos-two pos-three pos-four pos-five"
}
.box-container {
	display: flex;
	justify-content: center;
	margin-bottom: 3rem;
}
.box {
	width: 100px;
	height: 100px;
}
.dark {
	background-image: radial-gradient(closest-side, grey, grey);
}
.light {
	position: absolute;
	background-image: radial-gradient(closest-side, yellow, #ffff77 80%);
	box-shadow:
		0 0 10px 5px rgba(255,255,255,.2),
		0 0 10px 4px rgba(255,255,156,.7);
	opacity: 0;
	transition: opacity .5s;
}
.on/*, .light:hover*/ {
	opacity: 1;
}
.gamebutton-container {
	display: flex;
	justify-content: center;
}
.gamebutton-container#pos-one { grid-area: pos-one;}
.gamebutton-container#pos-two { grid-area: pos-two;}
.gamebutton-container#pos-three { grid-area: pos-three;}
.gamebutton-container#pos-four { grid-area: pos-four;}
.gamebutton-container#pos-five { grid-area: pos-five;
}
.gamebutton {
	width: 100px;
	height: 50px;
}

/* ===== Media queries ===== */
@media only screen and (min-width: 768px) {
	.col-6 {
		grid-column: span 6;
	}
	.col-4 {
		grid-column: span 4;
	}
}